.navigation__component {
	background-color: var(--nav-color);
	padding: var(--padding-px-l);
}
.nav {
	justify-content: space-between;
}
.nav__search {
	margin: 0 2rem 1rem;
	border: 2px solid gray;
	border-radius: 8px;
}
.nav__search input {
	background-color: var(--background-color);
	color: var(--text-color);
	border-radius: 0 5px 5px 0;
}
.nav__search .search__icon {
	border-radius: 5px 0 0 5px;
	font-size: large;
}
.btn-main {
	color: var(--text-color);
	margin-right: 3rem;
}

.toggles {
	color: var(--text-color);
}

::placeholder {
	font-size: 1rem;
	color: var(--text-color);
}
.brand-name {
	color: var(--text-color);
	text-decoration: none;
	padding-left: 1rem;
}
@media screen and (max-width: 780px) {
	.navigation__component {
		padding: var(--padding-px-l);
	}
	.toggles {
		display: block;
		margin-left: 8px;
	}
}