*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	/* Colors */
	--background-color: #0d1117;
	--nav-color: #161b22;
	--text-color: #fff;
	--background-color-shade2: #3b3b3b;
	/* Margin variables */
	--margin-px-m: 2px;
	--margin-px-l: 4px;
	--margin-rem-s: 1rem;
	--margin-rem-m: 2rem;
	/* Padding Variables */
	--padding-px-m: 2px;
	--padding-px-l: 4px;
	--padding-rem-s: 1rem;
	--padding-rem-m: 2rem;
	--padding-rem-l: 4rem;
	/* Gap Variables */
	--gap-sm: 1rem;
	--gap-m: 2rem;
	/* Z-index variables */
	--z-index-m: 2;
	--z-index-xl: 4;
	--z-index-xxl: 5;
	/* Border Radius  */
	--border-radius-s: 5px;
}
html {
	background-color: var(--background-color);
	color: var(--text-color);
}
li {
	list-style: none;
}