.video__card {
	position: relative;
	background-color: var(--nav-color);
	width: 18rem;
	cursor: pointer;
	transition: transform 0s;
	border-radius: 4px;
}
.video__card__badge {
	position: absolute;
	right: 5px;
	top: 5px;
}
.video__card-image {
	height: 15rem;
	width: 100%;
}

.video_title{
	margin-top: 0.2rem;
	letter-spacing: 1px;
	text-align: center;
}

.more-action-icon{
	float: right;
	margin-right: 10px;
}
.video__description {
	font-size: 1.1rem;
}
.video__views {
	margin: 8px 4px;
}

.video_extra_info{
	display: flex;
	align-items: end;
	justify-items: center;
	justify-content: space-around;
}

.video_actions_container {
	position: absolute;
	right: 1rem;
	background-color: var(--nav-color);
	color: var(--text-color);
	z-index: var(--z-index-xl);
}
.video__card__button {
	display: none;
	background-color: var(--background-color-shade2);
	padding: var(--padding-px-l) var(--padding-rem-s);
	font-size: 1.2rem;
	gap: var(--gap-sm);
	color: var(--text-color);
	margin: calc(2 * var(--margin-px-l)) var(--margin-rem-s);
}

.video__card:hover {
	transform: scale(1.02);
	z-index: var(--z-index-m);
	transition-delay: 1s;
}
.video__card:hover .video__card__button {
	display: flex;
	align-items: center;
	justify-content: center;
}
.delete__btn {
	color: var(--warning-red-color);
}

.add_to_playlist{
	background-color: var(--text-color);
	color:black;
}

@media screen and (max-width: 480px) {
	.video__card:hover .display-none {
		display: none;
	}
}